accelerate==1.12.0
diffusers==0.36.0
matplotlib==3.8.4
nltk==3.8.1
numpy==2.4.0
peft==0.18.0
Pillow==12.0.0
pycocoevalcap==1.2
rouge_score==0.1.2
torch==2.5.1+cu121
torchvision==0.19.0
torchvision==0.20.1+cu121
tqdm==4.63.0
tqdm==4.66.4
tqdm==4.66.5
transformers==4.41.2
transformers==4.57.3
transformers.egg==info
